# IntelliJ IDEA
.idea/*
!.idea/codeStyles/
!.idea/copyright/
!.idea/dataSources.xml
!.idea/detekt.xml
!.idea/dictionaries
!.idea/externalDependencies.xml
!.idea/jsonSchemas.xml
!.idea/modules/
!.idea/modules.xml
!.idea/remote-targets.xml
!.idea/runConfigurations
!.idea/sqldialects.xml
!.idea/vcs.xml

.gradle
.kotlin
build
