#
# File used by Git to map old commits to new (or more appropriate) email addresses.
# Keep the list alphabetically sorted.
# See gitmailmap(5) for more details.
#

Franck Silvestre <franck.silvestre@irit.fr> <franck.silvestre@ik.me>
John Tranier <john.tranier@ticetime.com> <john.tranier@isae-supaero.fr>
