services:
    postgres:
        image: postgres:18-alpine
        environment:
            POSTGRES_USER: elaastix
            POSTGRES_PASSWORD: elaastix
            POSTGRES_DATABASE: elaastix
        healthcheck:
            test: [ "CMD", "pg_isready",  "-U", "elaastix" ]
            interval: 5s
            timeout: 5s
            retries: 3
        ports:
            - "127.0.0.1:5432:5432"
        volumes:
            - pg-data:/var/lib/postgresql/data

    server:
        pull_policy: never
        image: elaastic/elaastix-server:local-develop
        build:
            context: .
            dockerfile: server/Containerfile
            target: base
        environment:
            SPRING_PROFILES_ACTIVE: develop,container
        command: bootRunDebug
        ports:
            - "127.0.0.1:8080:8080"
            - "127.0.0.1:55678:55678"
        volumes:
            - ./server/src:/build/server/src
        depends_on:
            postgres:
                condition: service_healthy

    frontend:
        pull_policy: never
        image: elaastic/elaastix-frontend:local-develop
        build:
            context: .
            dockerfile: frontend/Containerfile
            target: base
        command: pnpm run dev --host
        ports:
            - "127.0.0.1:3000:3000"
        volumes:
            - ./frontend:/app/frontend
            - /app/frontend/node_modules  # Creates an anonymous volume that'll hold the node_modules folder
        depends_on:
            server:
                condition: service_started

volumes:
    pg-data:
