services:
    postgres:
        image: postgres:18-alpine
        environment:
            POSTGRES_USER: elaastix
            POSTGRES_PASSWORD: elaastix
            POSTGRES_DATABASE: elaastix
        healthcheck:
            test: [ "CMD", "pg_isready",  "-U", "elaastix" ]
            interval: 5s
            timeout: 5s
            retries: 3
        ports:
            - "5432:5432"
        volumes:
            - pg-data:/var/lib/postgresql/data

    server:
        pull_policy: never
        image: elaastic/elaastix-server:local-develop
        build:
            context: .
            dockerfile: server/Containerfile
            target: base
        environment:
            SPRING_PROFILES_ACTIVE: develop,container
        entrypoint: [ "sh" ]
        command: ./gradlew bootRun
        ports:
            - "8080:3000"
        volumes:
            - ./server:/build/server
        depends_on:
            postgres:
                condition: service_healthy

volumes:
    pg-data:
