services:
    postgres:
        image: postgres:18-alpine
        environment:
            POSTGRES_USER: elaastix
            POSTGRES_PASSWORD: elaastix
            POSTGRES_DATABASE: elaastix
        healthcheck:
            test: [ "CMD", "pg_isready",  "-U", "elaastix" ]
            interval: 5s
            timeout: 5s
            retries: 3
        ports:
            - "127.0.0.1:5432:5432"
        volumes:
            - pg-data:/var/lib/postgresql/data

    server:
        pull_policy: never
        image: elaastic/elaastix-server:local-develop
        build:
            context: .
            dockerfile: server/Containerfile
            target: base
        environment:
            SPRING_PROFILES_ACTIVE: develop,container
        command: bootRunDebug
        ports:
            - "127.0.0.1:55678:55678"
        volumes:
            - ./server/src:/build/server/src
        labels:
            traefik.enable: "true"
            traefik.http.routers.server.rule: "Host(`elaastix.localhost`) && PathPrefix(`/api/`)"
            traefik.http.routers.server.middlewares: "server-strip-prefix"
            traefik.http.services.server.loadbalancer.server.port: "8080"
            traefik.http.middlewares.server-strip-prefix.stripprefix.prefixes: "/api"
        depends_on:
            postgres:
                condition: service_healthy
            traefik:
                condition: service_started

    frontend:
        pull_policy: never
        image: elaastic/elaastix-frontend:local-develop
        build:
            context: .
            dockerfile: frontend/Containerfile
            target: base
        command: pnpm run dev --host
        volumes:
            - ./frontend:/app/frontend
            - /app/frontend/node_modules  # Creates an anonymous volume that'll hold the node_modules folder
            - ./frontend/.nuxt/devtools:/root/.nuxt/  # QoL: store Nuxt devtools config on the host
        labels:
            traefik.enable: "true"
            traefik.http.routers.frontend.rule: "Host(`elaastix.localhost`)"
            traefik.http.services.frontend.loadbalancer.server.port: "3000"
        depends_on:
            server:
                condition: service_started
            traefik:
                condition: service_started

    traefik:
        image: traefik:v3.6
        command: |
            --api.dashboard=true
            --providers.docker=true
            --providers.docker.exposedbydefault=false
            --entrypoints.web.address=:8080
            --log.level=DEBUG
        ports:
            - "127.0.0.1:8080:8080"
        volumes:
            - ${DOCKER_SOCKET:-/var/run/docker.sock}:/var/run/docker.sock:ro
        labels:
            traefik.enable: "true"
            traefik.http.routers.dashboard.rule: "Host(`traefik.localhost`)"
            traefik.http.routers.dashboard.service: "api@internal"
            traefik.http.services.dashboard.loadbalancer.server.port: "8080"

volumes:
    pg-data:
