[settings]
experimental = true

[tools]
node = { version = "24", postinstall = "corepack enable" }
java = "temurin-24"  # Gradle doesn't support Kotlin + JDK 25 yet >:)
typos = "latest"

[hooks]
postinstall = [
    'printf "#!/usr/bin/env bash\n$(which mise) task run _precommit" > .git/hooks/pre-commit',
    "chmod +x .git/hooks/pre-commit",
]

[tasks._precommit]
hide = true
run = [
    "typos -c .config/typos/config.toml"
]
