[settings]
experimental = true

[tools]
node = { version = "24", postinstall = "corepack enable" }
java = "temurin-24"  # Gradle doesn't support Kotlin + JDK 25 yet >:)
typos = "latest"
jq = "latest"

[hooks]
postinstall = [
    # Configure git pre-commit hook  -- TODO: https://hk.jdx.dev/
    'printf "#!/usr/bin/env bash\n$(which mise) task run _precommit" > .git/hooks/pre-commit',
    "chmod +x .git/hooks/pre-commit",
    # Configure Garage
    'sh ./.config/garage/configure.sh'
]

[tasks._precommit]
hide = true
run = [
    "typos -c .config/typos/config.toml"
]

[shell_alias]
garage = "docker compose exec -it storage /garage"
psql = "docker compose exec -it postgres psql -U elaastix"
