[settings]
experimental = true

[tools]
# Java and Node are also configured via .tool-versions, as IJ supports it natively.
# This is not ideal as the config is duplicated, but it is better than being completely broken :)
node = { version = "24", postinstall = "corepack enable" }
java = "temurin-25"
typos = "latest"
jq = "latest"

[hooks]
postinstall = [
    # Configure git pre-commit hook  -- TODO: https://hk.jdx.dev/
    'printf "#!/usr/bin/env bash\n$(which mise) task run _precommit" > .git/hooks/pre-commit',
    "chmod +x .git/hooks/pre-commit",
    # Configure Garage
    'sh ./.config/garage/configure.sh'
]

[tasks._precommit]
hide = true
run = [
    "typos -c .config/typos/config.toml",
    "./gradlew :build-logic:detektMain :build-logic:detektTest detektMain detektTest"
]

[shell_alias]
garage = "docker compose exec -it storage /garage"
psql = "docker compose exec -it postgres psql -U elaastix"
